@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
input{
    border-radius: 5px;
    height: 30px;
    margin: 10px;
    width: 100%;
    
}
textarea{
    resize: none;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
    height: 70px;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #5B8FB9;
    color: #fff;
    font-size: 20px;
    cursor: pointer;

}
button:hover{
    background-color: #674188;
    color: #30E3DF;
}
p{
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: black;
}

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}

  }

