@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Julius+Sans+One&family=Lobster&family=Merriweather&family=Michroma&family=Montserrat+Alternates:wght@400;500&family=Quicksand:wght@500&family=Sen&display=swap');

.container{
    position: relative;
    top: 150px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


table{
    text-align: center;
    background-color: #eee;
    width: 800px;
    margin-left: 5px;
    margin-top: 10px;
}
th{
    padding: 15px 15px;
    color: #E5E0FF;
    background-color: #658864;
    font-size: 15px;
    font-family: 'Merriweather', serif;
}

td{
    padding: 9px 10px;
    color: #658864;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}
a{
    text-decoration: none;
    padding: 3px 3px;
    background-color: #F48484;
    font-family: 'Baloo 2', cursive;
    color: #FFFFE8;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
a:hover{
    transition: ease-out 0.3s;
    background-color: #F55050;
    cursor: pointer;
    color: #fff;
}

input{
    padding: 7px 50px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    font-size: 15px;
    transition: ease-out 0.5s;
}
input:hover{
    padding: 8px 52px;
    transition: ease-out 0.5s;
}
.btnSearch{
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #3e3d3d;
    color: #fff;
    font-size: 14px;
    transition: ease-out 0.5s;
}
.btnSearch:hover{
    padding: 9px 11px;
    cursor: pointer;
    background-color: #0e0e0e;
    transition: ease-out 0.3s;
}
